@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.print-area {
  width: 210mm;
  min-height: 297mm;
  margin: auto;
  background: white;
  padding: 20px;
}

@media print {
  body {
    background: white;
  }

  .no-print {
    display: none;
  }
}